package components

import (
	"shopTemplate/app/config"
)

templ FacebookPixelPurchase(pixelCfg config.FacebookPixelConfig, orderTotal float64) {
	if pixelCfg.PixelID != "" {
		<div x-init={ templ.JSFuncCall("trackPurchase", pixelCfg.Currency, orderTotal, pixelCfg.TrackPurchaseValue).Call }></div>
	}
}