package components

import (
	"shopTemplate/app/config"
)

templ FacebookPixelAddToCart(cfg *config.Config, productID uint, productName string, productPrice float64) {
	if cfg.FacebookPixel.PixelID != "" {
		<div x-init={ templ.JSFuncCall("trackAddToCart", productID, productName, productPrice, cfg.Site.Currency).Call }></div>
	}
}