
app_db
bin
cmd/reset-password/reset-password
*.[gG][iI][fF]
# Ignore common image extensions
# ignore compiled binaries
# Ignore uploaded images
*.[iI][cC][oO]
*.[jJ][pP][eE][gG]
*.[jJ][pP][gG]
node_modules
*.[pP][nN][gG]
public/images/carousel/
public/images/products/
public/images/sections/
public/images/site/
reset-password
seed
*.[sS][vV][gG]
tmp
*.[wW][eE][bB][pP]
/app
