package auth

import (
	"shopTemplate/app/views/layouts"
	"shopTemplate/app/models"
	"shopTemplate/app/config"
)

templ EmailVerificationError(errorMessage string) {
	@layouts.BaseLayout(models.AuthUser{},config.Get(),nil) {
		<div class="h-screen flex flex-col justify-center items-center gap-4">
			<div class="text-xl">{ errorMessage }</div>
			<a href="/" class="underline text-sm">back to homepage</a>
		</div>
	}
}
